{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
  $(function() {
    var submit_form = function(e) {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        a: $('input[name="a"]').val(),
      }, function(data) {
        console.log(data.result);
        if (data.result.runs.length) {
          var t = "<table>";
          for (i in data.result.runs) {
            var run = data.result.runs[i];
            t += ("<tr><td>" + run + "</td></tr>");
          }
          t += "</table>";
          var c = "<p>Showing " + data.result.runs.length + " of " + data.result.count + " results.</p>" 
          $('#result').html(c + t);
        } else {       
          $('#result').text('No Results');
        }
      });
      return false;
    };

    $('input[type=text]').bind('keyup', function(e) {
      submit_form(e);
    });

    $('input[name=a]').focus();
  });
</script>
<h1>Search</h1>
<p>
  <input type="text" size="30" name="a">
  <p id="result">No Results</span>
{% endblock %}
